# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/
.python-version

# SQLite database files
*.db

# VSCode settings
.vscode/

# macOS system files
.DS_Store

# Logs and other junk
*.log

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
nosetests.xml
pytest_cache/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Static files (optional, if generated at runtime)
static/

# Local env/IDE config
.idea/
*.iml
*.sublime-workspace
*.sublime-project
